.red  {
  display: inline-block;
  background-color: red;
  height: 200px;
  width: 200px;
  color: red;
}
.green  {
  display: inline-block;
  background-color: green;
  height: 200px;
  width: 200px;
  color: green;
}
.blue  {
  display: inline-block;
  background-color: blue;
  height: 200px;
  width: 200px;
  color: blue;
}
.yellow  {
  display: inline-block;
  background-color: yellow;
  height: 200px;
  width: 200px;
  color: yellow
}
